DATABASE_URL=mongodb+srv://orkneytech:10106088@dbclass.diple.mongodb.net/DBClass?retryWrites=true&w=majority
DATABASE_URL=mongodb+srv://orkneytech01:10106088@mongodb.orkneytech.kinghost.net/orkneytech01?retryWrites=true&w=majority